@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Recursive:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inactive{
    display: none;
}
html{
    font-size: 62.5%;
    font-family: 'Recursive', sans-seri;
}

.Browser-container{
    top: -1px;
    z-index: 1000;
    position: sticky;
}
.Browser-container-contacts{
    height: 70px;
    display: flex;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    width: 100%;
    height:60px;
    border-bottom: 4mm ridge rgba(255, 0, 9, .6);    padding: 5px 50px 5px;
    align-items: center;
}

.nav-contacts{
    display: flex;
    list-style:none;;
}
.nav-contacts li img{
    width: 40px;
    margin: 40px;
}
.Header-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 105px;
    padding: 5px 50px 5px ;
    text-align: center;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    margin-bottom: 20px;
    transition: height 0.3s ease;
}
.Header-box img{
    position: relative;
    top: 10px;
    left: 40px;
    height: 135px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
}

.Browser-container.shrink .Header-box {
    height: 90px;
    width: 100%;
  }
  
  .Browser-container.shrink .Header-box img {
    height: 125px; 
    width: 255.08px;/* Altura reducida de la imagen al encoger */
    top: -2px;  
}
.container-principal-language{
    display: flex;
}
.icon-arrow{
    width: 15px;
    height: 10px;
    margin: 0 10px 0 40px;
    background-image: url("../assets/icons/down-arrow.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    align-self: center; 
    padding-top: 5px;
    cursor: pointer;
    color: #222;
}

.container-language img{
    padding-left: 8px;
    width: 50px;
}

.container-language ul li{
    display: flex;
    align-items: center;
}
.container-language ul li img{
    margin: 0 10px 0px 10px;
}

.container-language .other-languages{
    list-style: none;
    position: absolute;
    right: 30px;
    top: 45px;
    background-color: white;
    width: 100px;
    padding: 0 50px 20px 0 ;
    -webkit-box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
}
.language-tab{
    cursor: pointer;
}
.container-text-emblem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-text-emblem h3 {
    margin-bottom: 0;
    font-size: 2rem;
    font-family: 'Cedarville Cursive',cursive;
}

.container-text-emblem h2 {
    margin-top: 0;
    font-size: 3rem;
}

.container-network{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.container-network img{
    width: 40px;
    margin-right: 10px;
}
.Browser-container-contacts a{
    text-decoration: none;
}
.container-network p{
    font-size: 15px;
    color:gray ;
}
.container-text{
    font-size: 50px;
}

main{
    padding: 50px;
}