@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Recursive:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inactive{
    display: none;
}
html{
    font-size: 62.5%;
    font-family: 'Recursive', sans-seri;
}
body{
    background-size: cover;
    background-position: center 50px;
    background-repeat: no-repeat;
    background-image: url(../assets/Images/machupichu.webp);
    background-attachment: fixed;
    margin: 0;
}

/* .notices-body,.gallery-body{
    background-image: none;
    background-color:white;
} */
@keyframes show{
    from{
        height: 135px;
    }
    to{
        height:90px;
    }
}
@keyframes show-Text{
    from{
        font-size: 4rem;
    }
    to{
        font-size: 2rem;
    }

}

@keyframes shake{
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes little-text{
    from{
        font-size: 25px;
    }
    to{
        font-size:20px ;
    }
}

.Header-box{
    animation:enhance-header linear both;
    view-timeline-name: --nav;
    animation-timeline: scroll(root);
    animation-name: show;
    animation-range:0 300px;
}
.text-emblem{
    animation:enhance-header linear both;
    view-timeline-name: --textnav;
    animation-timeline: scroll(root);
    animation-name: show-Text;
    animation-range: 0 400px;
}
#HomeLink,#galleryLink{
    animation:enhance-header linear both;
    view-timeline-name: --textnav;
    animation-timeline: scroll(root);
    animation-name: little-text;
    animation-range: 0 400px;
}
.Browser-container{
    top: -1px;
    z-index: 100;
    position: sticky;
    width: 100%;
}
.Browser-container-contacts{
    height: 70vh;
    display: flex;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    width: 100%;
    height:60px;
    border-bottom: 4mm ridge rgba(255, 0, 9, .6);    padding: 5px 50px 5px;
    align-items: center;
}

.nav-contacts{
    display: flex;
    list-style:none;;
}
.nav-contacts img{
    width: 40px;
    margin: 40px;
}
.Header-box{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 135px;
    padding: 5px 50px 5px ;
    text-align: center;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    margin-bottom: 20px;
    transition: height 0.3s ease;
}
.Header-box-other-sections{
    margin-bottom: 90px;
}
.Header-box .logo-image{
    height: inherit;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
}

.Header-box > a{
    letter-spacing: 2px;
    font-size: 25px;
    text-decoration: none;
    color: black;
    position: relative;
    padding-bottom: 10px;
}

.Header-box > a:after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    height: 5px;
    width: 100%;
    background: dodgerblue;
    /*animation from right to left*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}  
.Header-box > a:hover:after{
    color: #5c5a52;
    transform-origin: left;
    transform: scaleX(1);
}
.Header-box > a.gallery-open:after,
.Header-box > a.gallery-open:hover:after {
  /* tus estilos para cuando está abierta la galería o cuando se hace hover aquí */
  color: #5c5a52;
  transform-origin: left;
  transform: scaleX(1);
}
.Header-box > a.home-open:after,
.Header-box > a.home-open:hover:after {
  /* tus estilos para cuando está abierta la galería o cuando se hace hover aquí */
  color: #5c5a52;
  transform-origin: left;
  transform: scaleX(1);
}
.Header-box > a.notices-open:after,
.Header-box > a.notices-open:hover:after {
  /* tus estilos para cuando está abierta la galería o cuando se hace hover aquí */
  color: #5c5a52;
  transform-origin: left;
  transform: scaleX(1);
}


.container-text-emblem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-text-emblem h3 {
    margin-bottom: 0;
    font-size: 2rem;
    font-family: 'Cedarville Cursive',cursive;
}

.container-text-emblem h2 {
    margin-top: 0;
    font-size: 2rem;
}

.container-network{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.container-network img{
    width: 40px;
    margin-right: 10px;
}
.Browser-container-contacts a{
    text-decoration: none;
}
.container-network p{
    font-size: 15px;
    color:gray ;
}
.container-text{
    font-size: 50px;
}

main{
    padding:0 16px;
    margin:0 auto !important;
    max-width: 1203px;
}

main p{
    font-size: 50px
}

.sections{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
    display: flex;
    flex-direction: column;
}

.container-sections{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.icon-angle{
    width: 100px;
}

.container-icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.container-img-principal{
    display: flex;
    justify-content: center;
    position: relative;
}
.container-img-principal img{
    /* width: 563.141px; */
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    image-rendering: optimizeQuality;
}
.country-italy-peru img{
    width: 1040.141px;
    height: 600.344px;
}
.sections h1{
    font-size: 40px;
    font-family: 'Cedarville Cursive',cursive;
}

.sections p{
    font-size: 30px;
    text-align:center;
}
.footer{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-top: 40px;
    background-image: linear-gradient(white ,rgba(0, 0, 0, 0.3),rgb(255, 0, 0) );
    background-color: rgba(128, 128, 128, 0.765);

}
.container-message{
    padding: 20px;

    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.container-message p{
    font-size: 30px;
    text-align: center;
    max-width: 1203px;
    text-align: center;
}
.container-social-networks-footer{
    display: flex;
    background-color:#b94a48;

    place-content: center;
    
}
.container-footer{
    border-top: 5px solid black;
    display: grid;
    grid-template-columns: repeat(12,50px);
    grid-template-rows: 20px 50px 50px;
    gap: 20px;
    padding: 30px;
    margin: 0 auto;
}

.container-main-footer{
    margin: 0 auto;
}
.container-indis{
    grid-column: 3;
}
.container-indis img{
    width: 160px;
}

.social-networks{
    display: flex;
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row: 2;
    flex-direction: column;
    gap: 10px;
}
.social-networks img{
    width: 40px;
    height: 40px;
}
.text-footer-networks{
    grid-column-start: 8;
    grid-column-end:13;
    grid-row:1;
    font-size:25px;
    color:white;
}

.social-networks .social-n{
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-networks .social-n a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container-footer .address{
    grid-column-start: 15;
    grid-column-end: 19;
}
.container-footer h6{
    grid-column-start: 15;
    grid-column-end: 19;
    font-size: 35px;
    color: white;

}.address{
    display: flex;
}
.address p{
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 10px;
}

.address a{
    text-decoration: none;
}

.background-menu-mobile-Father{
    animation: fadeIn .3s ease forwards;
    background-color: rgba(3,9,30,.7);
    bottom: 0;
    cursor: pointer;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 8 ;
    text-align: center;
}

 .click-hand{
    width: 40px;
    height: 40px;
    grid-column: 17;
    grid-row: 3;
}   
.llama-img{
    width: 5%;
    position: fixed;
    right: -25px;
    bottom: 232px;
}
.llama-img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    cursor: pointer;
  }

.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery-item {
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
}
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.loader img{
    width: 20vw;
}
.loader span{
    display: flex;
    width: 20px;
    height: 20px;
    background:red;
    border-radius: 50%;
    margin: 0 5px;
    animation: moveup 0.6s linear infinite alternate;
    flex-direction: row;
}
.container-span{
    display: flex;
}
.loader div{
    margin-right: 20px;
}
.loader div h1{
    font-family: 'Recursive', sans-seri;
    font-size: 50px;
    color:white;
}

@keyframes moveup{
    100%{
        transform: translateY(-25px);
    }
}
.loader span:nth-child(1){
    animation-delay: 0.10s;
}
.loader span:nth-child(2){
    animation-delay: 0.5s;
}
.loader span:nth-child(3){
    animation-delay: 0.25s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
}
.container .image-container{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    padding: 10px;
}
.container .image-container .image{
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow: 0 5px 15px rgba(0,0, 0, 1);
    overflow: hidden;
    cursor: pointer;
}

.container .image-container .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}


.container .image-container .image:hover img{
    transform: scale(1.1);
}

.container .popup-image{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(3,9,30,.7);
    height: 100%;
    z-index: 100;
    display: none;
}

.container .popup-image span{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color:#fff;
    cursor: pointer;
    z-index:100;
}
.container .popup-image img{
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius:5px ;
    width: 750px;
    object-fit: cover;
}
#galleryContainer{

    border-radius: 10px;
    padding:20px 16px;
    margin:0 auto !important;
    max-width: 1203px;
}

.container .popup-image .nav-arrow {
    position: absolute;
    top: 50%;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    outline: none;
}

.container .popup-image .left-arrow {
    left: 10px;
}

.container .popup-image .right-arrow {
    right: 10px;
}

@media (max-width:768px){
    .container .popup-image img{
        width: 95%;

    }
}