@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Recursive:wght@600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inactive{
    display: none;
}
html{
    font-size: 62.5%;
    font-family: 'Recursive', sans-seri;
}
body{
    background-size: cover;
    background-image: url(../assets/Images/machupichu.webp);
}

@keyframes show{
    from{
        height: 135px;
    }
    to{
        height:90px;
    }
}
@keyframes show-Text{
    from{
        font-size: 4rem;
    }
    to{
        font-size: 2rem;
    }
}


.Header-box{
    animation:enhance-header linear both;
    view-timeline-name: --nav;
    animation-timeline: scroll(root);
    animation-name: show;
    animation-range:0 300px;
}
.text-emblem{
    animation:enhance-header linear both;
    view-timeline-name: --textnav;
    animation-timeline: scroll(root);
    animation-name: show-Text;
    animation-range: 0 400px;
}

.Browser-container{
    top: -1px;
    z-index: 1000;
    position: sticky;
    width: 100%;
}
.Browser-container-contacts{
    height: 70vh;
    display: flex;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    width: 100%;
    height:60px;
    border-bottom: 4mm ridge rgba(255, 0, 9, .6);    padding: 5px 50px 5px;
    align-items: center;
}

.nav-contacts{
    display: flex;
    list-style:none;;
}
.nav-contacts img{
    width: 40px;
    margin: 40px;
}
.Header-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 135px;
    padding: 5px 50px 5px ;
    text-align: center;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
    margin-bottom: 20px;
    transition: height 0.3s ease;
}
.Header-box .logo-image{
    height: inherit;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222, 4px 0 6px -6px #222, 0 -4px 6px -6px #222, -4px 0 6px -6px #222;
}


.container-text-emblem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-text-emblem h3 {
    margin-bottom: 0;
    font-size: 4rem;
    font-family: 'Cedarville Cursive',cursive;
}

.container-text-emblem h2 {
    margin-top: 0;
    font-size: 4rem;
}

.container-network{
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.container-network img{
    width: 40px;
    margin-right: 10px;
}
.Browser-container-contacts a{
    text-decoration: none;
}
.container-network p{
    font-size: 15px;
    color:gray ;
}
.container-text{
    font-size: 50px;
}

main{
    padding:0 16px;
    margin:0 auto !important;
    max-width: 1203px;
}

main p{
    font-size: 50px
}

.sections{
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.3);
    display: flex;
    flex-direction: column;
    position: relative;
}

.container-sections{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.icon-angle{
    width: 100px;
}

.container-icons{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}
.container-img-principal{
    display: flex;
    justify-content: center;
    position: relative;
}
.container-img-principal img{
    /* width: 563.141px; */
    width: 60%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top-left-radius: 75px;
    border-bottom-right-radius: 75px;
}
.country-italy-peru img{
    width: 1040.141px;
    height: 600.344px;
}
.sections h1{
    font-size: 40px;
    font-family: 'Cedarville Cursive',cursive;
}

.sections p{
    font-size: 30px;
    text-align:center;
}
.footer{
    width: 100%;
    background-color: white;
    margin: 0 auto;
    margin-top: 40px;
    /* background-image: linear-gradient(white ,rgba(255, 0, 0, 0.654),rgb(255, 0, 0) ); */
    background-color: rgba(128, 128, 128, 0.765);
}
.container-message{
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
.container-message p{
    font-size: 30px;
    text-align: center;
    max-width: 1203px;
    text-align: center;
}
.container-social-networks-footer{
    display: flex;
    background-color:rgba(255, 0, 0, 0.83);
    place-content: center;
}
.container-footer{
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: repeat(12,50px);
    grid-template-rows: 20px 50px 50px;
    gap: 20px;
    padding: 30px;
    margin: 0 auto;
}

.container-main-footer{
    margin: 0 auto;
}
.container-indis{
    grid-column: 3;
}
.container-indis img{
    width: 160px;
}

.social-networks{
    display: flex;
    grid-column-start: 8;
    grid-column-end: 12;
    grid-row: 2;
    flex-direction: column;
    gap: 10px;
}
.social-networks img{
    width: 40px;
    height: 40px;
}
.text-footer-networks{
    grid-column-start: 8;
    grid-column-end:13;
    grid-row:1;
    font-size:25px;
    color:white;
}

.social-networks .social-n{
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-networks .social-n a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container-footer .address{
    grid-column-start: 15;
    grid-column-end: 19;
}
.container-footer h6{
    grid-column-start: 15;
    grid-column-end: 19;
    font-size: 35px;
    color: white;

}.address{
    display: flex;
}
.address p{
    font-size: 20px;
    text-align: left;
    color: white;
    margin-top: 10px;
    border-bottom: 1px solid black;
}

.address a{
    text-decoration: none;
}

.background-menu-mobile-Father{
    animation: fadeIn .3s ease forwards;
    background-color: rgba(3,9,30,.7);
    bottom: 0;
    cursor: pointer;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 8 ;
    text-align: center;
}

.container-footer .click-hand{
    width: 40px;
    height: 40px;
    grid-column: 12;
    grid-row: 3;
}   
.llama-img{
    width: 7%;
    position: absolute;
    right: -25px;
    bottom: 232px;
}



