@media(min-width:840px){
    .container-indis{
        grid-column: 2;
    }
    .text-footer-networks{
        grid-column-start: 5;;
    }
    .social-networks{
        grid-column-start: 5;
        grid-column-end: 14;
    }
    .container-footer h6{
        grid-column: 11;
        grid-row: 1;

    }
    .container-footer .address{
        grid-column-start: 11;
        grid-column-end: 15;
        grid-row: 2;
    }
    .country-italy-peru img{
        width: 100%;
    }
    .container-footer{
        display: grid;
        grid-template-columns: repeat(auto-fill,50px);
        grid-template-rows: 20px 50px 30px 20px;
    }
    .address p{
        font-size: 15
        px;
    }
    @keyframes show{
        from{
            height: 135px;
        }
        to{
            height:90px;
        }
    }
    @keyframes show-Text{
        from{
            font-size: 4rem;
        }
        to{
            font-size: 2rem;
        }
    }
    
    
    .Header-box{
        animation:enhance-header linear both;
        view-timeline-name: --nav;
        animation-timeline: scroll(root);
        animation-name: show;
        animation-range:0 300px;
        position: sticky;
    }
    .text-emblem{
        animation:enhance-header linear both;
        view-timeline-name: --textnav;
        animation-timeline: scroll(root);
        animation-name: show-Text;
        animation-range: 0 400px;
    }
    .click-hand{
        grid-column: 12;
        grid-row:3;
    }
    .llama-img{
        width:7%;
        position: fixed;
        right: -22px;
        bottom: 232px;
    }
    .img-inca{
        width: 15%;
        position: absolute;
        left: -60px;
        bottom: -5%;
    }
}

